/* Se importan las fuentes de google fonts */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Ajustes generales */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans 3', sans-serif;

}

/* Ajustes del Header */

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #393939;
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
}

.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 b{
    color: orangered;
}

.logo a{
    text-decoration: none;
    color: #000000;
}

.menu{
    height: 80px;
    margin-right: 20px;
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0% 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;

}

.menu-selected:before{
    content: '';
    width: 100%;
    height: 4px;
    background: orangered;
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a{
    color: grey;
    font-size: 18;
    transition: color 300ms;
}

.menu nav ul li a:hover{
    color: orangered;
}

.menu .text-menu-selected{
    color: grey;
}

.menu nav ul li a i{
    display: none;
}

#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    font-size: 20px;
    background: #393939;
    border-radius: 100%;
    color: orangered;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    display: none;
}

#icon-menu:hover{
    opacity: 0.8;
}

/*Portada*/

.container-info-cover{
    color: rgb(101, 101, 101);
}

.container-cover{
    width: 100%;
    height: 500px;
    position: relative;
    margin-top: 80px;
    background-image: url(../assets/images/portada.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-cover:before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(74, 73, 73, 0.401);
    position: absolute;
    top: 0;
    left: 0;
}

.container-info-cover{
    max-width: 800px;
    height: 500px;
    margin: auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;

}

.container-info-cover h1{
    font-size: 40px;
    font-weight: 500;
    color: #989797;
    margin-bottom: 20px;
}

.container-info-cover p{
    font-size: 20px;
    font-weight: 300;
    color: #989797;
}

/* Contenedor - contenido del articulo*/

.container-content{
    width: 1200px;
    margin: auto;
    margin-top: 40px;
    display: flex;
    justify-content: center;

}

article{
    width: 100%;
    padding: 20px;
    padding-bottom: 40px;
    box-shadow: -10px 0 20px -30px black;
    border-radius: 6px;
    overflow: hidden;
    position: relative;
}

article:before{
    content: '';
    width: 100%;
    height: 6px;
    position: absolute;
    top: 0;
    left: 0;
    background: orangered;
}

article h1 {
    margin-top: 20px;
    font-weight: 500;
    font-size: 40px;
}

article p{
    margin-top: 20px;
    font-size: 18px;
    color: #393939;
}

article img{
    width: 50%;
    margin-top: 20px;
}

/* Aside de articulos relacionados*/

.container-aside aside{
    width: 320px;
    border-radius: 6px;
    box-shadow: 0 0 20px -20px black;
    overflow: hidden;
    margin-left: 40px;
    margin-bottom: 40px;
    padding-bottom: 20px;
}

.container-aside aside img{
    width: 100%;
}

.container-aside aside h2,
.container-aside aside p{
    margin-top: 20px;
    padding: 0px 20px;
}

.container-aside aside button{
    margin-top: 20px;
    margin-left: 20px;
    padding: 10px 50px;
    font-size: 16px;
    background: rgb(215, 95, 51);
    border: none;
    color: #fff;
    cursor: pointer;
    border-radius: 6px;
}

.container-aside aside button:hover{
    opacity: 0.9;
}

/* Footer - Pie de pagina */

.container-footer{
    width: 100%;
    padding: 40px 0;
    background: #f7f7f7;
    margin-top: 40px;
}

.container-footer footer{
    max-width: 1200px;
    margin: auto;
}

.container-footer footer .logo-footer{
    text-align: center;

}

.container-footer footer .logo-footer img{
    width: 150px;
}

.container-footer footer .redes-footer{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.container-footer footer .redes-footer .icon-redes-footer{
    font-size: 20px;
    margin: 20px;
    background: #efefef;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: #a2a2a2;
}

footer .redes-footer .fa-facebook:hover{
    background: #41579a;
    color: #fff;
}

footer .redes-footer .fa-linkedin:hover{
    background: #41579a;
    color: #fff;
}

footer .redes-footer .fa-instagram:hover{
    background: linear-gradient(to top right, #FCDE30, #E9712A, #D2313B, #AE4198, #5443A8 );
    color: #fff;
}

footer .redes-footer .fa-github:hover{
    background: #000000;
    color: #fff;
}

footer .redes-footer .fa-x-twitter:hover{
    background: #000000;
    color: #fff;
}

.container-footer footer hr{
    margin-top: 20px;
    border: none;
    height: 2px;
    background: rgba(176, 176, 176, 0.401);
}

.container-footer h4{
    text-align: center;
    margin-top: 40px;
    color: #8e8e8e;
    font-weight: 500;
}

.container-footer p{
    text-align: center;
    margin-top: 40px;
    color: #8e8e8e;
    font-weight: 500;
}

.container-footer p a{
    color: #8e8e8e;
}


/* Estilos para la sección de Contacto */
.contact-section {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.contact-section h1 {
    font-size: 28px;
    color: #393939;
    margin-bottom: 20px;
}

.contact-section p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

.contact-methods {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact-method {
    width: 48%;
    border-radius: 6px;
    border: 1px solid #ddd;
    padding: 20px;
    margin-bottom: 20px;
}

.contact-method h2 {
    font-size: 22px;
    color: #393939;
    margin-bottom: 10px;
}

.contact-method a {
    color: #007BFF;
}

.contact-method ul li{
    margin-left: 20px;
}

.contact-method a:hover {
    text-decoration: underline;
}

.contact-form {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 20px;
    margin-top: 20px;
}

.contact-form h2 {
    font-size: 22px;
    color: #393939;
    margin-bottom: 10px;
}

.contact-location {
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 20px;
    margin-top: 20px;
}

.contact-location h2 {
    font-size: 22px;
    color: #393939;
    margin-bottom: 10px;
}


/* Estilos para la sección Acerca de Nosotros */
.about-us-section {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.about-us-section h1 {
    font-size: 28px;
    color: #393939;
    margin-bottom: 20px;
}

.about-us-section p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

/* Estilos para la sección de Búsqueda */
.search-section {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.search-section h1 {
    font-size: 28px;
    color: #393939;
    margin-bottom: 20px;
}

.search-section p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

/* Estilos para el Formulario de Búsqueda */
.search-form {
    display: flex;
}

#search-input {
    width: 70%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#search-input::placeholder {
    color: #999;
}

button[type="submit"] {
    background: rgb(215, 95, 51);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background: rgba(215, 95, 51, 0.511);
}

/* Estilos para la sección de Iniciar Sesión */
.login-section {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.login-section h1 {
    font-size: 28px;
    color: #393939;
    margin-bottom: 20px;
}

.login-section p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

/* Estilos para el Formulario de Inicio de Sesión */
.login-form {
    display: flex;
    flex-direction: column;
}

#username-input,
#password-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

#username-input::placeholder,
#password-input::placeholder {
    color: #999;
}

button[type="submit"] {
    background: rgb(215, 95, 51);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background: rgba(215, 95, 51, 0.505);
}

/* Estilos para la sección de Registrarse */
.register-section {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.register-section h1 {
    font-size: 28px;
    color: #393939;
    margin-bottom: 20px;
}

.register-section p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

/* Estilos para el Formulario de Registro */
.register-form {
    display: flex;
    flex-direction: column;
}

#name-input,
#apellido-input,
#username-input,
#email-input,
#password-input,
#confirm-password-input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
}

#name-input::placeholder,
#apellido-input::placeholder,
#username-input::placeholder,
#email-input::placeholder,
#password-input::placeholder,
#confirm-password-input::placeholder {
    color: #999;
}

button[type="submit"] {
    background: rgb(215, 95, 51);
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background: rgba(215, 95, 51, 0.57);
}

/* Estilos para la sección de Categorías */
.categories-section {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.categories-section h1 {
    font-size: 28px;
    color: #393939;
    margin-bottom: 20px;
}

.categories-section p {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

/* Estilos para la Lista de Categorías */
.category-list {
    list-style: none;
    padding: 0;
}

.category-list li {
    margin-bottom: 10px;
}

.category-list a {
    display: inline-block;
    background: rgb(215, 95, 51);
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px;
    font-size: 16px;
}

.category-list a:hover {
    background: rgba(215, 95, 51, 0.621);
}

/*----------Responsive - adaptable a dispositivos moviles------*/

@media screen and (max-width: 1220px){

    .header-content,
    .container-footer footer,
    .container-content{
        max-width: 1000px;
        padding: 0 20px;
    }
}

@media screen and (max-width: 1020px){

    .container-content{
        width: 100%;
        flex-direction: column;
    }

    article{
        box-shadow: 0;
    }

    .container-aside{
        display: flex;
        justify-content: center;
    }

    .container-aside aside{
        max-width: 300px;
        margin: 10px;
    }

}


@media screen and (max-width: 800px){

    .menu{

        width: 0px;
        height: 100vh;
        position: fixed;
        top: 80px;
        left: 0;
        overflow: hidden;
        background: black;
        opacity: 0.8;
        box-shadow: 10px 0 20px -25px black;
    }

    .menu nav ul{
        flex-direction: column;

    }

    .menu nav ul li{
        max-width: 200px;
        height: 50px;
        justify-content: flex-start;
    }

    .menu-selected:before{
        width: 0;
    }

    .menu nav ul li a{
        margin-top: 40px;
        color: darkgray;
    }

    .menu nav ul li a i{
        width: 20px;
        display: inline-block;
        margin-right: 10px;
        color: orangered;
    }

    #icon-menu{
        display: flex;
    }

    .container-aside{
        flex-wrap: wrap;
    }
}



