/* Variables para colores */
$color-facebook: #41579a;
$color-linkedin: #41579a;
$color-instagram: linear-gradient(to top right, #fcde30, #e9712a, #d2313b, #ae4198, #5443a8);
$color-github: #000000;
$color-twitter: #000000;

/* Mixin para los estilos de los iconos de redes sociales */
@mixin social-icon($color) {
    &:hover {
        background: $color;
        color: #fff;
    }
}

/* Mixin para generar estilos de redes sociales */
@mixin social-icons() {
    .fa-facebook { @include social-icon($color-facebook); }
    .fa-linkedin { @include social-icon($color-linkedin); }
    .fa-instagram { @include social-icon($color-instagram); }
    .fa-github { @include social-icon($color-github); }
    .fa-x-twitter { @include social-icon($color-twitter); }
}

/* Estilos para el footer o pie de página */
.container-footer {
    width: 100%;
    padding: 40px 0;
    background: #f7f7f7;
    margin-top: 40px;

    footer {
        max-width: 1200px;
        margin: auto;

        .logo-footer {
            text-align: center;
            img {
                width: 150px;
            }
        }

        .redes-footer {
            display: flex;
            justify-content: center;
            margin-top: 20px;

            .icon-redes-footer {
                font-size: 20px;
                margin: 20px;
                background: #efefef;
                width: 50px;
                height: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                color: #a2a2a2;
            }

            @include social-icons(); // Utilizando el mixin para estilos de redes sociales
        }

        hr {
            margin-top: 20px;
            border: none;
            height: 2px;
            background: rgba(176, 176, 176, 0.401);
        }

        h4 {
            text-align: center;
            margin-top: 40px;
            color: #8e8e8e;
            font-weight: 500;
        }

        p {
            text-align: center;
            margin-top: 40px;
            color: #8e8e8e;
            font-weight: 500;

            a {
                color: #8e8e8e;
            }
        }
    }
}
