// Importar el archivo de variables

@import '../base/variables';

//Estilos para el header

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: $header-background-color;
    box-shadow: 0 4px 25px -22px black;
    z-index: 2;
}

.header-content{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h1 b{
    color: $color-primary;
}

.logo a{
    text-decoration: none;
    color: #000000;
}

.menu{
    height: 80px;
    margin-right: 20px;
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0% 20px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;

}

.menu-selected:before{
    content: '';
    width: 100%;
    height: 4px;
    background: $color-primary;
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a{
    color: $header-li-color;
    font-size: 18;
    transition: $transition-color;
}

.menu nav ul li a:hover{
    color: $color-primary;
}

.menu .text-menu-selected{
    color: $header-li-color;
}

.menu nav ul li a i{
    display: none;
}

#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    font-size: 20px;
    background: #393939;
    border-radius: 100%;
    color: $color-primary;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    display: none;
}

#icon-menu:hover{
    opacity: 0.8;
}
