// Importar el archivo de variables
@import '../base/variables';

// Estilos base para los botones
.btn {
    padding: 10px 20px;
    font-size: $font-size-small;
    background-color: $color-primary;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

// Estilos para la sección de contacto
.contact-content {
    width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;

    .contact-section {
        max-width: 800px;
        margin: auto;
        padding: 20px;
        

        h1 {
            font-size: $font-size-large;
            color: $color-text;
            margin-bottom: 20px;
        }

        p {
            font-size: $font-size-medium;
            color: $color-text-light;
            margin-bottom: 20px;
        }

        .contact-methods {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;

            .contact-method {
                width: 48%;
                border-radius: 6px;
                border: 1px solid $color-background;
                box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
                padding: 20px;
                margin-bottom: 20px;

                h2 {
                    font-size: $font-size-large;
                    color: $color-text;
                    margin-bottom: 10px;
                }

                a {
                    color: $color-primary;

                    &:hover {
                        text-decoration: underline;
                    }
                }

                ul li {
                    margin-left: 20px;
                }
            }
        }

        .contact-form,
        .contact-location {
            border: 1px solid $color-background;
            border-radius: 6px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-top: 20px;

            h2 {
                font-size: $font-size-large;
                color: $color-text;
                margin-bottom: 10px;
            }
        }
    }
}

// Estilos para la sección acerca de nosotros
.about-content {
    width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;

    .about-us-section {
        max-width: 800px;
        margin: auto;
        padding: 20px;
        border: 1px solid $color-background;
        border-radius: 6px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);

        h1 {
            font-size: $font-size-large;
            color: $color-text;
            margin-bottom: 20px;
        }

        p {
            font-size: $font-size-medium;
            color: $color-text-light;
            margin-bottom: 20px;
        }
    }
}

// Estilos para la sección registrarse
.register-body {
    font-family: 'Source Sans 3', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $color-background;

    .register-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-content: center;
        align-items: center;
        min-height: 100vh;

        .register-section {
            max-width: 400px;
            padding: 20px;
            margin: auto;
            margin-top: 100px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            border-radius: 8px;

            h1 {
                font-size: $font-size-large;
                color: $color-text;
                margin-bottom: 20px;
            }

            p {
                font-size: $font-size-medium;
                color: $color-text-light;
                margin-bottom: 20px;
            }

            .register-form {
                display: flex;
                flex-direction: column;

                .form-group {
                    margin-bottom: 20px;

                    label {
                        font-size: $font-size-small;
                        color: $color-text-light;
                        margin-bottom: 8px;
                    }

                    input {
                        width: 100%;
                        padding: 10px;
                        font-size: $font-size-small;
                        border: 1px solid $form-items-color;
                        border-radius: 4px;
                    }

                    button {
                        background: $color-primary;
                        color: #fff;
                        border: none;
                        border-radius: 4px;
                        padding: 10px 20px;
                        font-size: $font-size-small;
                        cursor: pointer;

                        &:hover {
                            background: $color-button-hover;
                        }
                    }
                }
            }
        }
    }
}

// Estilos para la sección login
.login-body {
    font-family: 'Source Sans 3', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: $color-background;

    .login-content {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        justify-content: center;
        align-items: center;
        min-height: 100vh;

        .login-section {
            max-width: 400px;
            padding: 20px;
            margin: auto;
            margin-top: 100px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
            background-color: #fff;
            border-radius: 8px;

            h1 {
                font-size: $font-size-large;
                color: $color-text;
                margin-bottom: 20px;
            }

            .login-form {
                display: flex;
                flex-direction: column;

                .form-group {
                    margin-bottom: 20px;

                    label {
                        font-size: $font-size-small;
                        color: $color-text-light;
                        margin-bottom: 8px;
                    }

                    input {
                        width: 100%;
                        padding: 10px;
                        font-size: $font-size-small;
                        border: 1px solid $form-items-color;
                        border-radius: 4px;
                    }

                    button {
                        background: $color-primary;
                        color: #fff;
                        border: none;
                        border-radius: 4px;
                        padding: 10px 20px;
                        font-size: $font-size-small;
                        cursor: pointer;

                        &:hover {
                            background: $color-button-hover;
                        }
                    }
                }
            }
        }
    }
}

// Estilos para la sección de búsqueda
.search-container,
.search-content {
    width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;

    .search-section {
        max-width: 800px;
        margin: auto;
        padding: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: 6px;

        h1 {
            font-size: $font-size-large;
            color: $color-text;
            margin-bottom: 20px;
        }

        p {
            font-size: $font-size-medium;
            color: $color-text-light;
            margin-bottom: 20px;
        }

        .search-form {
            display: flex;

            #search-input {
                width: 70%;
                padding: 10px;
                font-size: $font-size-small;
                border: 1px solid $form-items-color;
                border-radius: 4px;

                &::placeholder {
                    color: $placeholder-text-color;
                }
            }

            button[type="submit"] {
                background: $color-primary;
                color: #fff;
                border: none;
                border-radius: 4px;
                padding: 10px 20px;
                font-size: $font-size-small;
                cursor: pointer;

                &:hover {
                    background: $color-button-hover;
                }
            }
        }
    }
}

// Estilos para la sección de categorías
.cat-content {
    width: 1200px;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;

    .categories-section {
        max-width: 800px;
        margin: auto;
        padding: 20px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        border-radius: 6px;

        h1 {
            font-size: $font-size-large;
            color: $color-text;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
        }

        p {
            font-size: $font-size-medium;
            color: $color-text-light;
            margin-bottom: 20px;
            display: flex;
            justify-content: center;
        }

        .category-list {
            list-style: none;
            padding: 0;

            li {
                margin-bottom: 10px;
                display: flex;
                justify-content: center;

                a {
                    
                    @extend .btn;

                    display: inline-block;
                    width: 200px;
                    text-align: center;


                    &:hover {
                        background-color: lighten($color-primary, 10%);
                    }
                }
            }
        }
    }
}