// Definición de un mapa de colores
$colors: (
    primary: #e9502aee,
    secondary: #e9712a,
    accent: #5443a8,
    text_base: #393939,
    text_light: #555,
    portada_text: #989797,
    portada_bkg: rgb(101, 101, 101),
    cont_cov_bg:rgba(74, 73, 73, 0.401),
    background: #f2f2f2
);